.card.product-card {
  padding: 1rem;
  border-radius: 10px;
  margin: 10px 0;
  background: linear-gradient(to bottom right, #FFFFFF 0%, #DFDFEF 100%);
  width: 90%;
}
.card-img-container {
  height: 200px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-img-top {
  height: 80%;
  object-fit: contain;
  transition: height 250ms ease-in-out;
}
.card-title > a {
  color: black;
  text-decoration: none;
  margin-bottom: 0;
}

.card .card-body {
  padding: 0;
  margin-top: 17px;
}
.product.product-card:hover {
  & .card-img-top:hover {
    height: 100%;
  }
  & .card-title:hover {
    color: black;
    text-decoration: underline;
  }
  & .card-title, .card-img-top {
    cursor: pointer;
  }
}

.card .price {
  text-align: right;
  color: red;
  font-size: 20px;
  padding-right: 20px;
  margin-bottom: 0;
}

.card p.truncate {
  /* This tells how many lines to display */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  /*                                      */
  max-width: 200px;
  max-height: 5rem;
}
.rating-container {
  display: flex;
  margin-bottom: 20px;
  &>* {
    margin: 0 10px 0 0;
  }
}
.card h5.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 230px;
  height: 3rem;
}

.card .prod-quantity {
  align-items: center;
  font-size: 25px;
}

.card-container {
  box-shadow: 5px 5px 10px;
  background-color: rgba(166, 174, 182, 0.801);
}
