.search-bar__container {
    height: 37px;
    display: flex;
    align-items: center;
}
.search-bar {
    height: 100%;
    border: 1px solid gray;
    border-radius: 5px 0 0 5px;
    border-right: none;
    padding: 0 0 0 10px;
}
.search-bar:focus {
    outline: none;
    box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.1);
}
.btn.search-button {
    height: 100%;
    border-radius: 0 5px 5px 0;
}